<section class="bg-dark py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
        @for (guitar of guitarList; track $index) {
        <div class="col mb-5">
          <div class="card">
            <img
              class="card-img-top"
              [src]="guitar.imgUrl"
              [alt]="guitar.model"
            />
            <div class="card-body p-4">
              <div class="text-center">
                <h5 class="fw-bolder">{{ guitar.brand }} {{ guitar.model }}</h5>
                <p>${{ guitar.price }}</p>
              </div>
            </div>
  
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              @if (!checkCart(guitar.id_guitar)) {
              <div class="text-center">
                <button
                  class="btn btn-outline-dark mt-auto"
                  href="#"
                  (click)="addtoCart(guitar.id_guitar)"
                >
                  Agregar al carrito
                </button>
              </div>
              }@else {
              <div class="text-center">
                <button
                  class="btn btn-outline-dark mt-auto"
                  href="#"
                  (click)="removeFromCart(guitar.id_guitar)"
                >
                  Quitar del carrito
                </button>
              </div>
              }
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          @for (guitar of guitarList; track $index) { @if
          (checkCart(guitar.id_guitar)) {
          <div class="card mb-4">
            <div class="card-body p-4">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img
                    [src]="guitar.imgUrl"
                    class="img-fluid"
                    [alt]="guitar.model"
                  />
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Nombre</p>
                    <p class="lead fw-normal mb-0">{{ guitar.model }}</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Marca</p>
                    <p class="lead fw-normal mb-0">{{ guitar.brand }}</p>
                  </div>
                </div>
  
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Color</p>
                    <p class="lead fw-normal mb-0">{{ guitar.color }}</p>
                  </div>
                </div>
  
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Precio</p>
                    <p class="lead fw-normal mb-0">${{ guitar.price }}</p>
                  </div>
                </div>
  
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <button
                  class="btn btn-outline-dark mt-auto"
                  href="#"
                  (click)="removeFromCart(guitar.id_guitar)"
                >
                  Quitar del carrito
                </button>
                  </div>
                </div>
  
               
              </div>
            </div>
          </div>
          } }
        </div>
        <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Proceder al pago
  </button>
  
  
      </div>
    </div>
  </section>
  